.sales-summary-container {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 45px;
}

.sales-summary-card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sales-summary-card-value {
  color: var(--white-color);
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.sales-summary-card-label {
  color: var(--grey-light-125-color);
  font-size: 18px;
}
